body{
    background-color: black;
}

#header{
    font-size: 2.5vw;
    color: aquamarine;
}

ul {
    list-style-type: none;
    margin-left: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
    padding-top: 1vw;
    margin: 0
}


li.list {
    margin: 0.5vw;
    margin-left: 0;
    padding: 1vw;
    width: 43vw;
    font-size: 1vw;
    word-wrap: break-word;
    text-align: left;
}


h3 {
    font-size: 1.5vw;
    margin: 1vw;
    margin-left: 0;
    padding: 0.5vw;
    width: 44vw;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.application {
    /* justify-items: center; */
    justify-content: center;
    vertical-align: middle;
    left: 20%;
    display: flex;
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    width: 55vw;
    height: 100vw;
    border: 0.5vw solid rgba(225, 225, 225, 0.5);
    position: absolute;
    margin-top: 2vw;
    background-color: rgba(225, 225, 225, 0.1)
}

.completed {
    text-decoration: line-through;
    border: 0.2vw solid #41d63e;
    color: #41d63e
}

.toDo{
    border: 0.2vw solid #e028a0;
    background-color: transparent;
    color: #e028a0;
}

#do{
    background-color: rgba(224, 40, 160, 0.7);
    color: black;
    font-weight: bolder;
    border: 0.3vw solid #e028a0;
}

#done{
    background-color: rgba(65, 214, 62, 0.7);
    border: 0.3vw solid #41d63e;
    color: black;
    
}
.color{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 0.5s ease;
    }
    
    .color:hover{
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 1s ease;
    }

.trash {
    height: 1.5vw;
    width: 1.5vw;
    background-image: url("img/trash.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    float: right;
}


#form {
    display: flex;
    padding: 1rem;
    margin-block-end: 0;
    padding-left: 0;
}

textarea {
    font-size: 1vw;
    font-family: 'Merriweather', serif;
    white-space: pre-line;
    width: 35vw;
    height: 4vw;
    resize: none;
    background-color: rgba(225, 225, 225, 0.1);
    border: 2px solid white;
    color: white;
    vertical-align: middle;
}

button[type=submit] {
    font-size: 4vw;
    font-family: 'Merriweather', serif;
    height: 3vw;
    width: 3vw;
    line-height: 1vw;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    padding-left: 2vw;
}

button[type=submit]:hover{
    color: white;

}

#image {
    padding-left: 2vw;
    padding-top: 4vw;
    width: 8vw;
    height: 5vw;
}

#image:hover{
        animation: bounce 1s;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}