ul {
    list-style-type: none;
}

h2,
li.list {
    border: 2px solid black;
    background-color: rgba(225, 225, 225, 0.6);
    margin: 1rem;
    padding: 2rem;
    width: 60vw;

}

.application{
    justify-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    left: 50%;
}