ul {
    list-style-type: none;
    margin-left: 0;
    margin-block-start: 1em;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}


li.list {
    background-color: rgba(225, 225, 225, 0.6);
    margin: 1rem;
    margin-left: 0;
    padding: 2rem;
    width: 60vw;
    font-size: 1rem;
}


h3{
    font-size: 1.5rem;
    background-color: rgba(225, 225, 225, 0.6);
    margin: 1rem;
    margin-left: 0;
    padding: 2rem;
    width: 60vw;
    font-weight: 800;
}

.application{
    justify-items: center;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    left: 50%;
    display: flex;
    font-family: 'Merriweather', serif;
    font-size: 2rem;
}

.completed{
    border: 2px solid red;
}

.done{
    border: 2px solid black;
}

.trash{
    height: 3vw;
    width: 3vw;
    display: inline-block;
    text-align: right;
    background-image: url("img/trash.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
}

#form{
    display: flex;
    justify-content: space-evenly;
    vertical-align: middle;
    padding: 1rem;
    margin-block-end: 0;
  
}

input{
    font-size: 1rem;
    font-family: 'Merriweather', serif;
    line-height: 2rem;
    text-align: center;
    -ms-text-overflow: inherit;
}

